/*Color palette obtain from Cooler.com*/

:root {
    --green-grey: #CAD2C5;
    --sap-green: #84A98C;
    --peacock-green: #52796F;
    --dark-slate-grey: #354F52;
    --cool-grey: #2F3E46;
}

header {
    padding: 2%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
                          
}

a{
    color: var(--dark-slate-grey);
    font-size: 1.25rem;
    text-decoration: none;
    background-color: var(--peacock-green);
    color: white;
    padding: 1%;
    border-radius: 10px;
    align-self: flex-start;
}

a:hover {
    transform: scale(1.05);
}

.logo {
    width: 50%;

}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: var(--green-grey);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 50%;
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 2%;
    color: var(--cool-grey);
    border-bottom: solid 3px var(--dark-slate-grey);
} 

ul {
    padding-bottom: 3%;
    width: 50%;
}

li {
    list-style-type: none;
    margin-bottom: 3%;
    font-size: 1.5rem;
    background-color: var(--sap-green);
    color:var(--cool-grey);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        margin-top: 2%;
        
    }

    header {
        padding: 5%;
    }

    a {
        padding: 2%;
    }


}