/*Color palette obtain from Cooler.com*/

:root {
    --green-grey: #CAD2C5;
    --sap-green: #84A98C;
    --peacock-green: #52796F;
    --dark-slate-grey: #354F52;
    --cool-grey: #2F3E46;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: var(--green-grey);
}

header {
    padding: 2%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
                          
}

h1 {
    font-size: 25px;
    font-weight: bolder;
    padding: 3%;
    color: var(--cool-grey);
    border-bottom: solid var(--dark-slate-grey);
} 

ul {
    padding: 5%
}

li {
    list-style-type: none;
    padding: 1%;
}