/*Color palette obtain from Cooler.com*/

:root {
    --green-grey: #CAD2C5;
    --sap-green: #84A98C;
    --peacock-green: #52796F;
    --dark-slate-grey: #354F52;
    --cool-grey: #2F3E46;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: var(--green-grey);
}

header {
    padding-bottom: 5%;
    flex-direction: column;
    display: flex;
                      
}

.header-div {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.high-scores, #time {
    width: 10%;
    font-size: 1rem;
}

a{
    color: var(--dark-slate-grey);
    font-size: 1.25rem;
    text-decoration: none;
    background-color: var(--peacock-green);
    color: white;
    padding: 1%;
    border-radius: 10px;
    align-self: flex-start;
}

a:hover {
    transform: scale(1.05);
}

.header-img-div {
    display: flex;
    justify-content: center;
}

#header-img {
    width: 65%;
}

.main-content {
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

h1[class = "visible"] {
    font-size: 25px;
    font-weight: bolder;
    padding: 5%;
    color: var(--cool-grey);
} 

.hidden {
    display: none;
}

.visible {
    display: block;
}

.trivia-img {
    width: 65%;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 3%;
    color: var(--cool-grey);
}

#sub-content {
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    width: 70%;
    color: var(--dark-slate-grey);
    font-size: 1rem;
}


button, input[class = "visible"] {
    padding: 1.5%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    color: white;
    background-color: var(--dark-slate-grey);
    outline: none;
}

.button0, .button1, .button2, .button3 {
    display: block;
    padding: 1.5%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.button0:hover, .button1:hover, .button2:hover, .button3:hover {
    transform: scale(1.05);
}

.correct-incorrect {
    margin: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.next{
    background-color: var(--peacock-green);
}

.next-div {
    text-align: center;
}

form {
    width: 75%;
}

.initials {
    width: 20%;
}

::placeholder {
    text-align: center;
}

.score-submit {
margin-top: 3%;
padding: 1%;
width: 15%;
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 10%;
        flex-direction: column;
    }

    a {
        padding: 2%;
        margin: 2%;
    }

    button {
        padding: 3%;
        margin: 5%;
        font-size: 1.25rem;
    }

    .trivia-img {
        width: 40%;
    }

    #main-content-head {
        font-size: 1.5rem;
        text-align: center;
    }

    #sub-content {
        padding: 5%;
        width: 85%;
        font-size: 1.25rem;
    }

    .header-div {
        padding: 2%;
        margin-bottom: 2%;
    }

    #time {
        width: 25%;
        margin: 2%;
        font-size: 1rem;
    }

    #header-img {
        margin-top: 4%;
        width: 75%;
    }

    form {
        width: 90%;
    }

    .button0, .button1, .button2, .button3 {
        margin-left: 5%;
    }

    .fan-img {
        width: 75%;
    }

    .initials {
        width: 40%;
        margin-bottom: 3%;
    }

    .score-submit {
        width: 40%;
    }

}
